
.todo-list {
    max-width: 400px;
    /* background-image: url(./components/gradient.avif); */
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, rgb(2, 9, 91), rgb(78, 83, 180), rgb(2, 6, 91));
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
  }
  
  .add-todo {
    margin-bottom: 10px;
    padding-left: 10%;
    color: gold;
  }
  
  h1 {
    color:gold;
    text-align: center;
  }
  
  .todo-item {

    display: flex;
    align-items: center;
    border: 1px solid gold;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: gold;
    margin-left: 11%;
    margin-right: 2%;
    width: 63%;
    background-color: rgb(2, 9, 91);
  }
  
  .todo-item span {
    margin-right: 10px;
    margin-left: 6%;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid gold;
    border-radius: 5px;
    margin-bottom: 10px; 
    background-color: rgb(2, 9, 91);
    color: #f7d154;
  }
  
  button {
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(2, 9, 91);
    color:gold;
    margin-right: 10px; 
 

  }
  
  button:hover {
    background-color: gold;
    color: rgb(2, 9, 91);
  }
  